<nav class="styleguide-nav-container">
  <div class="l-styleguide-container">
    <ul class="styleguide-nav">
      <li class="styleguide-nav__item"><%= link_to 'Overview', root_path %></li>

      <li class="styleguide-nav__item"><%= link_to 'HTML', html_index_path %></li>

      <li class="styleguide-nav__item"><%= link_to 'CSS', css_index_path %></li>

      <li class="styleguide-nav__item"><%= link_to 'Typography', typography_index_path %></li>

      <li class="styleguide-nav__item"><%= link_to 'Forms', forms_path %></li>

      <li class="styleguide-nav__item has-sub-menu">
        <%= link_to 'Components' do %>
          Components
        <% end %>

        <ul class="styleguide-nav__submenu">
          <li><%= link_to 'Common Components', root_path %></li>
          <li><%= link_to 'Website Components', root_path %></li>
        </ul>
      </li>

      <li class="styleguide-nav__item"><%= link_to 'Layouts', root_path %></li>

      <li class="styleguide-nav__item has-sub-menu">
        <%= link_to root_path do %>
          Demos
        <% end %>

        <ul class="styleguide-nav__submenu">
          <li><%= link_to 'Base Styles', root_path %></li>
          <li><%= link_to 'CMS Content', root_path %></li>
        </ul>
      </li>

      <li class="styleguide-nav__item"><%= link_to 'JS', javascript_index_path %></li>
    </ul>
  </div>
</nav>
